___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___
# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.
____
** Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom. **

In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as mtb
import random

In [3]:
df = pd.read_csv('purchase_data_exe.csv')

**Check the head of the DataFrame.**

In [4]:
df.head()

,date,customer_id,product_category,payment_method,value [USD],time_on_site [Minutes],clicks_in_site,Unnamed: 7
0,20/11/2018,37077,505,credit,49.53,12.0,8,NaN
1,20/11/2018,59173,509,paypal,50.61,25.9,8,NaN
2,20/11/2018,41066,507,credit,85.99,34.9,11,NaN
3,20/11/2018,50741,506,credit,34.60,16.5,9,NaN
4,20/11/2018,53639,515,paypal,266.27,43.1,30,NaN

** How many rows and columns are there? **

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24999 entries, 0 to 24998
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    24999 non-null  object
 1   customer_id             24999 non-null  int64
 2   product_category        24999 non-null  int64
 3   payment_method          24999 non-null  object
 4   value [USD]             24999 non-null  float64
 5   time_on_site [Minutes]  24999 non-null  float64
 6   clicks_in_site          24999 non-null  int64
 7   Unnamed: 7              0 non-null      float64
dtypes: float64(3), int64(3), object(2)
memory usage: 1.5+ MB

** What is the average Purchase Price? **

** What were the highest and lowest purchase prices? **

** How many people have English 'en' as their Language of choice on the website? **

** How many people have the job title of "Lawyer" ? **

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

** What are the 5 most common Job Titles? **

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

** Hard: How many people have a credit card that expires in 2025? **

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

# Great Job!