In [1]:
import pandas as pd
import numpy as np

### 12014917 GAURAV PATEL 
question 4

Example of data cleaning with NAN values

In [2]:
df = pd.DataFrame(np.random.randn(3, 3), index=['a', 'c', 'e'],columns=['one','two', 'three'])
df = df.reindex(['a', 'b', 'c'])

In [3]:
print (df)
print ("NaN replaced with '0':")
print (df.fillna(0))

        one       two     three
a -1.599990  0.395505  0.742233
b       NaN       NaN       NaN
c -0.179132  0.724666  0.182010
NaN replaced with '0':
        one       two     three
a -1.599990  0.395505  0.742233
b  0.000000  0.000000  0.000000
c -0.179132  0.724666  0.182010

### Droping Missing Values

In [4]:
sf = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])
sf = sf.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

sf

        one       two     three
a -1.205381 -0.715430 -1.419262
b       NaN       NaN       NaN
c -1.028992  0.795718  0.485632
d       NaN       NaN       NaN
e  0.873774  0.270683 -0.852480
f -0.108617 -0.956221  0.772921
g       NaN       NaN       NaN
h  0.085099 -0.076444 -0.170509

In [5]:

print (sf.dropna())

        one       two     three
a -1.205381 -0.715430 -1.419262
c -1.028992  0.795718  0.485632
e  0.873774  0.270683 -0.852480
f -0.108617 -0.956221  0.772921
h  0.085099 -0.076444 -0.170509