In [90]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plb
from numpy.random import randn

In [91]:
labels = ['a','b','c']
mydata = [10,20,30]
arr = np.array(mydata)
d = {'a':10,'b':20,'c':30}
pd.Series(data=mydata, index=labels)

a    10
b    20
c    30
dtype: int64

In [92]:
ser1 = pd.Series([1,2,3,4],['USA','USSR','INDIA','GERMANY'])
ser2 = pd.Series([1,2,3,4],['USA','USSR','INDIA','Japan'])

In [93]:
print(ser1+ser2)

GERMANY    NaN
INDIA      6.0
Japan      NaN
USA        2.0
USSR       4.0
dtype: float64

mp.random

In [94]:
np.random.seed(101)

In [95]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'], ['W','X','Y','Z'])

In [96]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [97]:
type(df.W
)

pandas.core.series.Series

In [98]:

df[['W','X']]

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318
C -2.018168  0.740122
D  0.188695 -0.758872
E  0.190794  1.978757

In [99]:
df['new']=df['W']+df['X']
df['new']

A    3.334983
B    0.331800
C   -1.278046
D   -0.570177
E    2.169552
Name: new, dtype: float64

In [100]:
df.drop('D')

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
E  0.190794  1.978757  2.605967  0.683509  2.169552

In [101]:
df<0

       W      X      Y      Z    new
A  False  False  False  False  False
B  False   True   True  False  False
C   True  False  False   True   True
D  False   True   True  False   True
E  False  False  False  False  False